name: OBS Takip

on:
  schedule:
    - cron: "*/15 * * * *"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Python kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Kütüphaneler
        run: pip install requests beautifulsoup4

      - name: OBS kontrol
        run: python Kontrol.py
